@model string
@{
    ViewData["Page"] = "Roles";
}
<h4>Create a Role</h4>
<a asp-action="Index" class="btn btn-secondary">Back</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label for="name">Name:</label>
                <input name="name" class="form-control" style="width: 20%;" />
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>